@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.app {
    width: 100%;
    height: 100vh;
    background-color: #F2F0D9;
    overflow-x: hidden;
    overflow-y: scroll;
}

.mascot {
    width: 100%;
    margin-top: -54px;
    display: flex;
    justify-content: space-evenly;
}